* {
  margin: 0;
  padding: 0;
}

body {
  background: #F7F9F9;
}

.modalButton {
  background: #F3A712;
  border: none;
  color: #F7F9F9;
  border-radius: 10px;
  padding: 2vw 3vw;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.modalButton:hover {
  background: #FE5F55;
}

.modalInput {
  width: 90%;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border: 0.5px solid #DA4167;
  background: #F7F9F9;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#header {
  position: absolute;
  width: 100%;
  height: 10%;
  background: #F3A712;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#headerTitle {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #F7F9F9;
  font-size: 40px;
  left: 2%;
}

#leaveRoom {
  position: absolute;
  right: 2%;
  background: #FE5F55;
  border: none;
  color: #F7F9F9;
  border-radius: 10px;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#leaveRoom:hover {
  background: #DA4167;
  cursor: pointer;
}

#loginModal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(5, 5, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  overflow: hidden;
}

#modalTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  font-weight: 900;
  background: -webkit-linear-gradient(#FE5F55, #F3A712);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#modalContent {
  background: #F7F9F9;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}

#messageForm {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 9px;
}

#messageText {
  width: 65%;
  margin-right: 0.5%;
  margin-left: 20.25%;
}

#sendMessage {
  width: 8.75%;
}

#messageContainer {
  position: absolute;
  left: 22%;
  top: 12%;
  max-height: 80%;
  min-height: 80%;
  width: 75%;
  overflow-y: scroll;
}

#messages {
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
}

#messages li {
  padding: 5px;
}

.mM {
  color: #272727;
  font-weight: 500;
}

.mB {
  color: #DA4167;
  font-weight: 700;
}

.mY {
  color: #F3A712;
  font-weight: 700;
}

#sidebar {
  position: absolute;
  left: 0%;
  width: 20%;
  top: 10%;
  height: 90%;
  background: #272727;
  font-family: 'Montserrat', sans-serif;
}

.sidebarClass {
  color: #F7F9F9;
  padding: 10px;
}

#currentRoom {
  padding-top: 10px;
}

.sidebarInfo {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  background: -webkit-linear-gradient(#FE5F55, #F3A712);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#currentMembers {
  color: #F7F9F9;
}

#currentMembers li {
  list-style-type: circle;
}
/*# sourceMappingURL=styles.css.map */