* {
  margin: 0;
  padding: 0;
}

body {
  background: #F7F9F9;
}

.modalButton {
  background: #F3A712;
  border: none;
  color: #F7F9F9;
  border-radius: 10px;
  padding: 2vw 3vw;
  margin: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.modalButton:hover {
  background: #FE5F55;
}

.modalInput {
  width: 90%;
  padding: 12px 20px;
  border-radius: 10px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border: 0.5px solid #DA4167;
  background: #F7F9F9;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#header {
  position: absolute;
  width: 100%;
  height: 10%;
  background: #F3A712;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#headerTitle {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  color: #F7F9F9;
  font-size: 40px;
  left: 2%;
}

#leaveRoom {
  position: absolute;
  right: 2%;
  background: #FE5F55;
  border: none;
  color: #F7F9F9;
  border-radius: 10px;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#leaveRoom:hover {
  background: #DA4167;
  cursor: pointer;
}

#loginModal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(5, 5, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  -webkit-transition: 0.5s;
  overflow: hidden;
}

#modalTitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 8vw;
  font-weight: 900;
  background: -webkit-linear-gradient(#FE5F55, #F3A712);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#modalContent {
  background: #F7F9F9;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
}

#sidebarContainer {
  position: fixed;
  top: 10%;
  left: 0%;
  width: 20%;
  height: 90%;
  text-align: center;
  background: #f3a812d3;
}

#roomNumber {
  margin: 10%;
  background: #FE5F55;
  border: none;
  color: #F7F9F9;
  border-radius: 10px;
  padding: 5% 15%;
  text-align: center;
  text-decoration: none;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

#roomNumber:hover {
  background: #DA4167;
}

#username {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  background: -webkit-linear-gradient(#5899E2, #9046CF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#messageContainer {
  position: fixed;
  top: 10%;
  height: 80%;
  left: 20%;
  width: 80%;
  overflow-y: scroll;
}

#messageFormContainer {
  position: fixed;
  left: 20%;
  width: 80%;
  bottom: 0%;
  height: 10%;
}

#messages {
  list-style-type: none;
  margin: 2.5%;
}

#messages li {
  width: 100%;
  background: green;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 950px) {
  #sidebarContainer {
    position: fixed;
    top: 90%;
    left: 0%;
    width: 100%;
    height: 10%;
  }
  #messageFormContainer {
    position: fixed;
    left: 0%;
    width: 100%;
    bottom: 10%;
    height: 10%;
  }
  #messageContainer {
    position: fixed;
    bottom: 10%;
    height: 70%;
    left: 0%;
    width: 100%;
    overflow-y: scroll;
  }
  #currentMembers {
    display: none;
  }
  #roomNumber {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5vw;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 2vw;
    font-size: 4vw;
  }
  #username {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5vw;
    position: absolute;
    text-align: right;
    padding-right: 2vw;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 4vw;
  }
}
/*# sourceMappingURL=styles.css.map */